@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(../fonts/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url(../fonts/2fcrYFNaTjcS6g4U3t-Y5RV6cRhDpPC5P4GCEJpqGoc.woff) format('woff');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.no-padding{
  padding:0!important;
} 
.page{
  overflow-y:hidden;
}
.mu-appbar{
  height:48px;
  position:absolute;
  top:0;
  text-align:center;
}
.mu-content-block {
  position:absolute;
  height:100%;
  overflow-y:auto;
  padding:10px;
}
.mu-buttom-item{
  padding:4px;
}
.mu-infinite-scroll{
  min-height:50px;
  line-height:50px;
}
.has-header{
  margin-top:48px;
}
.has-footer{
  padding-bottom:100px;
}
.demo-popup-left {
  display: flex;
  width: 80%;
  max-width: 375px;
  height: 100%;
}
.mu-list{
  padding:0;
}
.mu-dialog{
  width: 90%;
}
.mu-dialog-body{
  padding:0 0 30px 0;
}
